/* Estilo do main */
main {
    background-color: black;
    padding: 10px 20px;
    color: white;
}

/*Foto e nome do autor*/
.autor {
    margin: auto;
    width: 150px;
    text-align: center;
}

.autor img {
    width: 100%;
    border-radius: 50%;
}