/* Estilo do main */
main {
    background-color: black;
    padding: 10px 20px 100px;
}

main .apresentacao {
    display: flex;
    margin: auto;
    background-color: white;
    max-width: 550px;
    min-width: 300px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}

main .apresentacao img {
    width: 100%;
}