.dados {
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 1.1em;

}

h4 {
    font-weight:400;
}

hr {
    border: 1px solid blue;
    width: 30px;
    margin: auto;
}

h3 {
    font-size: 0.9em;
    text-indent: 40px;
    padding: 10px 0px;
}

.partitura {
    border: 1px solid black;
    margin: auto;
    width: max-content;
    height: auto;
}

.dados-partitura {
    border-radius: 5px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 1px solid black;
    border-bottom-right-radius: 1px solid black;
}

#osmd-container {
    width: 100%;
    margin: auto;
    height: auto;
}

@media screen and (max-width:700px) {
    section {
        padding-top: 10px;
    }
}