h2 {
    font-size: 1.1em;
}

hr {
    border: 1px solid blue;
    width: 30px;
    margin: 5px 0px;
}

h3 {
    font-size: 0.9em;
    text-indent: 40px;
    padding: 10px 0px;
}

.partitura {
    border: 1px solid black;
    margin: auto;
    width: max-content;
    height: auto;
}

#osmd-container {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
    height: auto;
}

@media screen and (max-width:700px) {
    section {
        padding-top: 10px;
    }
    h2, small, hr {
        margin-left: 10px;
    }
}