<link rel="stylesheet" href="/css/admin/form.css">

<main>
    {{>_message}}
    <div class="form-body">
        <h2>Autor</h2>
        <form action="/admin/addAutor" method="post" enctype="multipart/form-data">
            <label for="file-JPG" id="form-JPG" class="form-file">JPG</label>
            <input type="file" name="file" id="file-JPG" class="form-file-hidden">
            <input type="text" name="nome" id="nome" class="form-input" placeholder="Autor">
            <input type="submit" value="Cadastrar" class="form-submit">
            <input type="button" value="Voltar" class="form-submit" onclick="location.href = '/admin/autor'">
        </form>
    </div>
</main>
