<link rel="stylesheet" href="/css/admin/form.css">

<main>
    {{>_message}}
    <div class="form-body">
        <h2>Instrumento</h2>
        <form action="/admin/addInstrumento" method="post">
            <input type="text" name="instrumento" id="instrumento" class="form-input" placeholder="Instrumento">
            <input type="text" name="nomeExibicao" id="nomeExibicao" class="form-input" placeholder="Nome de Exibição">
            <input type="text" name="part_name" id="part_name" class="form-input" placeholder="Part Name">
            <input type="text" name="part_abbreviation" id="part_abbreviation" class="form-input" placeholder="Part Abbreviation">
            <input type="text" name="instrument_name" id="instrument_name" class="form-input" placeholder="Instrument Name">
            <input type="text" name="instrument_sound" id="instrument_sound" class="form-input" placeholder="Instrument Sound">
            <input type="text" name="diatonic" id="diatonic" class="form-input" placeholder="Diatonic">
            <input type="text" name="chromatic" id="chromatic" class="form-input" placeholder="Chromatic">
            <input type="text" name="octave_change" id="octave_change" class="form-input" placeholder="Octave Change">
            <input type="text" name="sign" id="sign" class="form-input" placeholder="Sign">
            <input type="text" name="line" id="line" class="form-input" placeholder="Line">
            <input type="submit" value="Cadastrar" class="form-submit">
        </form>
    </div>
</main>
