<link rel="stylesheet" href="/css/admin/form.css">

<main>
    {{>_message}}
    <div class="form-body">
        <h2>Autor</h2>
        <form action="/admin/delAutor" method="post">
            <input type="hidden" name="id" value="{{autor.id}}">
            <p>Certeza que deseja <strong>deletar</strong> o Autor {{autor.nome}}?</p>
            <input type="submit" value="Deletar" class="form-submit danger">
            <input type="button" value="Voltar" class="form-submit" onclick="history.go(-1)">
        </form>
    </div>
</main>
