<link rel="stylesheet" href="/css/partials/autores.css">

{{#if autores}}
<h2 class="autor-h2">Autores</h2>
<div class="autores-carrosel">
    {{#each autores}}
    <div class="autor-card" onclick="location= '/autor/{{id}}'">
        <picture>
            <img src="/server-files/autores/{{pathFoto}}" alt="Foto do autor" onerror="this.onerror=null; this.src='/imgs/icons/account.png';">
        </picture>
        <p>{{nome}}</p>
    </div>
    {{/each}}
</div>
{{/if}}




