<link rel="stylesheet" href="/css/partials/autores.css">
<h2>Autores</h2>
<div class="autor-botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelector('.autores').scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelector('.autores').scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>

<section class="autores carroselLeft">
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
    <a href="/autor">
        <div class="autor-card">
            <img src="/imagens/account.png" alt="Autor" loading="lazy">
            <p>Nome</p>
        </div>
    </a>
</section>