<link rel="stylesheet" href="/css/partials/autores.css">

<h2>Autores</h2>
{{#if autores}}
<div class="autor-botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelector('.autores').scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelector('.autores').scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>

<section class="autores carroselLeft">
    {{#each autores}}
    <a href="/autor/{{id}}">
        <div class="autor-card">
            <picture>
                <img src="/server-files/autores/{{pathFoto}}" alt="Foto do autor"
                    onerror="this.onerror=null; this.src='/imagens/icons/account.png';">
            </picture>
            <p>{{nome}}</p>
        </div>
    </a>
    {{/each}}
</section>
{{/if}}