<link rel="stylesheet" href="/css/partials/header.css">
<header>
    <div class="box">
        <h1>Trinados</h1>
    </div>

    <form action="#">
        <input type="search" name="psq" id="psq" placeholder="Partitura..">
        <input type="submit" value="">
    </form>

    <div class="box">
        <button class="button-menu" id="button-menu" onclick="togglebar()">
            <img src="/imagens/menu-white.png" alt="img">
        </button>
    </div>
</header>