<link rel="stylesheet" href="/css/partials/partituras.css">
<h2>Músicas</h2>
<h3>Flauta Transversal em C</h3>

<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.musicas')[0].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.musicas')[0].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>

<div class="musicas carroselRight">
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
</div>

<h3>Clarinete em Bb</h3>

<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.musicas')[1].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.musicas')[1].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>
<div class="musicas carroselLeft">
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
</div>

<h3>Trompete em Bb</h3>

<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.musicas')[2].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.musicas')[2].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>
<div class="musicas carroselRight">
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
</div>

<h3>Sax Alto em Eb</h3>

<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.musicas')[3].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.musicas')[3].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>
<div class="musicas carroselLeft">
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
</div>

<h3>Sax Tenor em Bb</h3>

<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.musicas')[4].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.musicas')[4].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>
<div class="musicas carroselRight">
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
</div>

<h3>Trombone em C</h3>

<div class="botoes">
    <div class="left"><button class="btn-left" onclick="javascript:document.querySelectorAll('.musicas')[5].scrollBy({left:-370, behavior:'smooth'})"></button></div>
    <div class="right"><button class="btn-right" onclick="javascript:document.querySelectorAll('.musicas')[5].scrollBy({left:370, behavior:'smooth'})"></button></div>
</div>
<div class="musicas carroselLeft">
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
    <a href="/partitura">
        <div class="card">
            <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
            <p>Música</p>
        </div>
    </a>
</div>