    <link rel="stylesheet" href="/css/partials/partituras-barra.css">
    
    <h3>Instrumento</h3>

    <div class="botoes">
        <div class="left"><button class="btn-left" onclick="javascript:document.querySelector('.musicas').scrollBy({left:-370, behavior:'smooth'})"></button></div>
        <div class="right"><button class="btn-right" onclick="javascript:document.querySelector('.musicas').scrollBy({left:370, behavior:'smooth'})"></button></div>
    </div>
    <div class="musicas carroselLeft">
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
        <a href="/partitura">
            <div class="card">
                <img src="/imagens/partitura.jpeg" alt="Partitura" loading="lazy">
                <p>Música</p>
            </div>
        </a>
    </div>