<link rel="stylesheet" href="/css/partials/sectionPartituras.css">
<div class="musicas-carrosel">
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
    <div class="musicas-card" onclick="location= '/partitura/63'">
        <img src="/imgs/partitura.jpg" alt="">
        <p>Se essa rua fosse minha</p>
    </div>
</div>