<link rel="stylesheet" href="/css/partials/tabela.css">
{{>_message}}
<section class="tabela-form">
    <div class="tabela-titulo">
        <h2>Gênero</h2>
        <button onclick="location='/admin/cadastrar/genero'"><img src="/imgs/icons/add.png" alt=""></button>
    </div>

    <form action="/admin/psq/genero" method="get">
        <input type="search" name="psq" placeholder="Pesquise um Gênero">
        <button type="submit"></button>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
            </tr>
        </thead>

        <tbody>
            {{#each generos}}
            <tr onclick="location.href='/admin/genero/{{id}}'">
                <td>{{id}}</td>
                <td>{{nome}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>