<link rel="stylesheet" href="/css/home/autor.css">

<main>
    <div class="autor">
        <img src="/imagens/account.png" alt="autor" loading="lazy">
        <p>Nome</p>
    </div>

    {{>_partituras}}
</main>