<link rel="stylesheet" href="/css/home/autor.css">

<main>
    <div class="autor">
        <img src="/server-files/autores/{{autor.pathFoto}}" alt="autor" loading="lazy">
        <p>{{autor.nome}}</p>
    </div>

    {{>_partituras}}
</main>