<link rel="stylesheet" href="/css/home/autor.css">

<div class="dados-autor">

    <div class="autor-card">
        <img src="/server-files/autores/{{autor.pathFoto}}" alt="autor" loading="lazy" class="autor-img">
        <p class="autor-p">{{autor.nome}}</p>
    </div>

    <p class="dados-autor-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam optio deserunt fuga expedita molestias quos quibusdam qui, tenetur esse aliquid consectetur tempore quia consequuntur quisquam similique ad officiis dolorum ipsum.</p>
</div>

{{>_sectionPartituras}}