<link rel="stylesheet" href="/css/home/autor.css">

<div class="dados-autor">

    <div class="autor-card">
        <img src="/server-files/autores/{{autor.pathFoto}}" alt="autor" loading="lazy" class="autor-img">
        <p class="autor-p">{{autor.nome}}</p>
    </div>
</div>

{{>_sectionPartituras}}