<link rel="stylesheet" href="/css/home/home.css">

<h2>Músicas</h2>
<hr>
<h3>MPB</h3>
{{>_sectionPartituras}}

<h3>Rock</h3>
{{>_sectionPartituras}}

<h3>Classico</h3>
{{>_sectionPartituras}}

<h3>Jazz</h3>
{{>_sectionPartituras}}

<h3>Samba</h3>
{{>_sectionPartituras}}

<h3>Reggae</h3>
{{>_sectionPartituras}}