<link rel="stylesheet" href="/css/home/index.css">

<main>
    {{>_message}}
    <div class="apresentacao">
        <img src="imagens/apresentacao/ap3.gif" alt="img">
    </div>

    {{>_partituras}}
</main>