<link rel="stylesheet" href="/css/home/partitura.css">
<main>
    <div class="apresentacao">
        <p style="padding: 10px;">Se Grave tocando, poste no instagram e marque @trinados03, A melhor interpretação aparece aqui!</p>
    </div>

    <div class="menu-body">
        <div class="menu-conteudo">
            <div>
                <button class="foto-perfil" onclick="javascript:location.href ='/autor/'"><img src="/imagens/account.png" alt="Foto do autor"></button>
            </div>
            <div class="menu-dados">
                <h1><a href="">Autor</a></h1>
                <h1><strong></strong></h1>
                <p>Instrumento - Genero</p>
            </div>
        </div>
        <div class="menu-controls">
            <a href="#" target="_blank">Part - PDF</a>
            <a href="#" target="_blank">Part - MXL</a>
            <a href="#" target="_blank" download="Nome - Playback">Playback</a>
        </div>
    </div>
    
    <h2>Semelhantes</h2>

    {{>_partituras-barra}}
    
</main>
