<link rel="stylesheet" href="/css/home/partitura.css">

<h2>Mamãe eu quero</h2>
<small>Marchinha de Carnaval</small>
<hr>



<!-- <input type="file" id="fileInput" accept=".musicxml, .xml"> -->
<div id="osmd-container"></div>

<script src="https://unpkg.com/opensheetmusicdisplay@1.4.1/build/opensheetmusicdisplay.min.js"></script>