<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="/css/layouts/admin.css">
</head>
<body>
    {{!-- Header --}}
    <header>
        <h1>DashBoard</h1>

        <button class="button-menu" id="button-menu" onclick="togglebar()">
            <img src="/imagens/menu-white.png" alt="img">
        </button>
    </header>
    {{!-- NavSide --}}
    <nav id="nav-side">  
        <div class="card-perfil">
            <img src="/imagens/account.png" alt="img">
            <p>{{user.nome}} {{user.sobrenome}}</p>
        </div>
        <hr>
        <ul>
            <li><a href="/admin/"><img src="/imagens/shield-person.png" alt="img">Painel</a></li>
            <li><a href="/admin/musica"><img src="/imagens/add.png" alt="img">Música</a></li>
            <li><a href="/admin/autor"><img src="/imagens/add.png" alt="img">Autor</a></li>
            <li><a href="/admin/genero"><img src="/imagens/add.png" alt="img">Gênero</a></li>
            <li><a href="/admin/instrumento"><img src="/imagens/add.png" alt="img">Instrumento</a></li>
            <li><a href="/"><img src="/imagens/home.png" alt="img">Home</a></li>
            <li><a href="/usuario/logout"><img src="/imagens/logout.png" alt="img">Logout</a></li>
        </ul>
    </nav>
    
    {{{body}}}

    {{>_footer}}
</body>
<script src="/js/scripts.js"></script>
</html>