<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" href="/css/layouts/admin.css">
</head>
<body>
    <header class="cabecalho">
        <h1 class="cabecalho-h1">DashBoard</h1>
        <button class="cabecalho-button" id="button-menu" onclick="toggle()">
            <img src="/imgs/icons/menu-white.png" alt="img" class="cabecalho-button-img">
        </button>
    </header>

    <aside class="barra-lateral">  
        <div class="card-perfil">
            <img src="/imgs/icons/account.png" alt="img" class="card-perfil-img">
            <p class="card-perfil-p">{{user.nome}} {{user.sobrenome}}</p>
        </div>
        <hr>
        <ul class="links">
            <li><a href="/admin/"><img src="/imgs/icons/shield-person.png" alt="img">Painel</a></li>
            <li><a href="/admin/musica"><img src="/imgs/icons/add.png" alt="img">Música</a></li>
            <li><a href="/admin/autor"><img src="/imgs/icons/add.png" alt="img">Autor</a></li>
            <li><a href="/admin/genero"><img src="/imgs/icons/add.png" alt="img">Gênero</a></li>
            <li><a href="/admin/instrumento"><img src="/imgs/icons/add.png" alt="img">Instrumento</a></li>
            <li><a href="/admin/interpretacoes"><img src="/imgs/icons/add.png" alt="img">Interpretações</a></li>
            <li><a href="/"><img src="/imgs/icons/home.png" alt="img">Home</a></li>
            <li><a href="/usuario/logout"><img src="/imgs/icons/logout.png" alt="img">Logout</a></li>
        </ul>
    </aside>
    
    <section class="conteudo">
        {{{body}}}
    </section>
    {{>_footer}}
</body>
<script src="/js/scripts.js"></script>
</html>