<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="/css/layouts/main.css">
</head>
<body>

    <header>
        <img src="/imgs/logo.png" alt="" class="logo logo1" onclick="toggle()">
        <h1 class="logo logo2" onclick="toggle()">Trinados</h1>
        <form action="/pesquisa">
            <input type="search" name="psq" id="psq" placeholder="Partitura...">
            <input type="submit" value="" class="pesquisa">
        </form>
        <button><img src="/imgs/icons/notifications-black.png" alt=""></button>
    </header>
    <main>

        <aside>
            <a href="/"><abbr title="Home"><img src="/imgs/icons/home-black.png" alt=""></abbr></a>
            <a href="/usuario/conta"><abbr title="Conta"><img src="/imgs/icons/manage_accounts-black.png" alt=""></abbr></a>
            <a href="/usuario/interpretacoes"><abbr title="Interpretações"><img src="/imgs/icons/folder_special-black.png" alt=""></abbr></a>
            <a href="/usuario/listas"><abbr title="Suas Listas"><img src="/imgs/icons/book-black.png" alt=""></abbr></a>
            <a href="/usuario/logout"><abbr title="logout"><img src="/imgs/icons/logout-black.png" alt=""></abbr></a>
            <a href="/admin"><abbr title="Admin"><img src="/imgs/icons/shield-person-black.png" alt=""></abbr></a>
        
        </aside>

        <section>
            {{>_message}}
            {{{body}}}
        </section>
    </main>
</body>
<script src="/js/scripts.js"></script>
</html>